# Updated by trungquandev.com's author on August 17 2023
# YouTube: https://youtube.com/@trungquandev
# "A bit of fragrance clings to the hand that gives flowers!"

MONGODB_URI=''
DATABASE_NAME=trello-web
LOCAL_DEV_APP_PORT=8000
LOCAL_DEV_APP_HOST=localhost
BUILD_MODE=dev
AUTHOR=Nguyen Huu Hao
